.container {
    overflow-y: auto;
    flex-grow: 1;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.stdout {
    color: #76ff03;
}

.stderr {
    color: #03a9f4;;
}

.err {
    color: #9c27b0
}

.project-info {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.table-container {
    width: 75%;
}

