.container {
    background-color: #212121;
    height: 300px;
    overflow-y: auto;
    color: #fafafa;
    flex-grow: 1;
    padding: 1.5rem;
    font-size: 1rem;
}

.stdout {
    color: #76ff03;
}

.stderr {
    color: #ba000d;;
}

.err {
    color: #ba000d;
}

