.container {
    background-color: #212121;
    height: 300px;
    overflow-y: auto;
    color: #fafafa;
    flex-grow: 1;
    padding: 1.5rem;
    font-size: 1rem;
    font-family: monospace;
    font-weight: bold;
}

.stdout {
    color: #6ab7ff;
    font-family: monospace;
    font-weight: bold;
}

.stderr {
    color: #e91e63;
    font-family: monospace;
    font-weight: bold;
}

.err {
    color: #e91e63;
    font-family: monospace;
    font-weight: bold;
}

